In [6]:
# 和numpy 不同 pandas 解决data frame objects 即 包含不同类型的表格
import pandas as pd
import numpy as np

In [7]:
Auto = pd.read_csv('Auto.csv')

In [8]:
Auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
Auto['horsepower']

0      130
1      165
2      150
3      150
4      140
      ...
392     86
393     52
394     84
395     79
396     82
Name: horsepower, Length: 397, dtype: object

In [5]:
np.unique(Auto['horsepower'])

array(['100', '102', '103', '105', '107', '108', '110', '112', '113',
       '115', '116', '120', '122', '125', '129', '130', '132', '133',
       '135', '137', '138', '139', '140', '142', '145', '148', '149',
       '150', '152', '153', '155', '158', '160', '165', '167', '170',
       '175', '180', '190', '193', '198', '200', '208', '210', '215',
       '220', '225', '230', '46', '48', '49', '52', '53', '54', '58',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '72', '74', '75', '76', '77', '78', '79', '80', '81', '82',
       '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '?'], dtype=object)

In [9]:
Auto = pd.read_csv('Auto.csv',na_values=['?'])

In [10]:
Auto['horsepower']

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
392     86.0
393     52.0
394     84.0
395     79.0
396     82.0
Name: horsepower, Length: 397, dtype: float64

In [11]:
np.unique(Auto['horsepower'])

array([ 46.,  48.,  49.,  52.,  53.,  54.,  58.,  60.,  61.,  62.,  63.,
        64.,  65.,  66.,  67.,  68.,  69.,  70.,  71.,  72.,  74.,  75.,
        76.,  77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,
        87.,  88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,
        98., 100., 102., 103., 105., 107., 108., 110., 112., 113., 115.,
       116., 120., 122., 125., 129., 130., 132., 133., 135., 137., 138.,
       139., 140., 142., 145., 148., 149., 150., 152., 153., 155., 158.,
       160., 165., 167., 170., 175., 180., 190., 193., 198., 200., 208.,
       210., 215., 220., 225., 230.,  nan])

In [14]:
# 可以使用fillna取处理损失值
Avg_Auto = Auto['horsepower'].mean()
Auto['horsepower'].fillna(Avg_Auto,inplace = True)
# 同样可以使用dropna（）将缺失值给丢掉

In [15]:
np.unique(Auto['horsepower'])

array([ 46.        ,  48.        ,  49.        ,  52.        ,
        53.        ,  54.        ,  58.        ,  60.        ,
        61.        ,  62.        ,  63.        ,  64.        ,
        65.        ,  66.        ,  67.        ,  68.        ,
        69.        ,  70.        ,  71.        ,  72.        ,
        74.        ,  75.        ,  76.        ,  77.        ,
        78.        ,  79.        ,  80.        ,  81.        ,
        82.        ,  83.        ,  84.        ,  85.        ,
        86.        ,  87.        ,  88.        ,  89.        ,
        90.        ,  91.        ,  92.        ,  93.        ,
        94.        ,  95.        ,  96.        ,  97.        ,
        98.        , 100.        , 102.        , 103.        ,
       104.46938776, 105.        , 107.        , 108.        ,
       110.        , 112.        , 113.        , 115.        ,
       116.        , 120.        , 122.        , 125.        ,
       129.        , 130.        , 132.        , 133.        ,
       135.        , 137.        , 138.        , 139.        ,
       140.        , 142.        , 145.        , 148.        ,
       149.        , 150.        , 152.        , 153.        ,
       155.        , 158.        , 160.        , 165.        ,
       167.        , 170.        , 175.        , 180.        ,
       190.        , 193.        , 198.        , 200.        ,
       208.        , 210.        , 215.        , 220.        ,
       225.        , 230.        ])

In [17]:
Auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [19]:
idx_80 = Auto['year'] > 80
Auto[idx_80]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
338,27.2,4,135.0,84.000000,2490,15.7,81,1,plymouth reliant
339,26.6,4,151.0,84.000000,2635,16.4,81,1,buick skylark
340,25.8,4,156.0,92.000000,2620,14.4,81,1,dodge aries wagon (sw)
341,23.5,6,173.0,110.000000,2725,12.6,81,1,chevrolet citation
342,30.0,4,135.0,84.000000,2385,12.9,81,1,plymouth reliant
343,39.1,4,79.0,58.000000,1755,16.9,81,3,toyota starlet
344,39.0,4,86.0,64.000000,1875,16.4,81,1,plymouth champ
345,35.1,4,81.0,60.000000,1760,16.1,81,3,honda civic 1300
346,32.3,4,97.0,67.000000,2065,17.8,81,3,subaru
347,37.0,4,85.0,65.000000,1975,19.4,81,3,datsun 210 mpg
348,37.7,4,89.0,62.000000,2050,17.3,81,3,toyota tercel
349,34.1,4,91.0,68.000000,1985,16.0,81,3,mazda glc 4
350,34.7,4,105.0,63.000000,2215,14.9,81,1,plymouth horizon 4
351,34.4,4,98.0,65.000000,2045,16.2,81,1,ford escort 4w
352,29.9,4,98.0,65.000000,2380,20.7,81,1,ford escort 2h
353,33.0,4,105.0,74.000000,2190,14.2,81,2,volkswagen jetta
354,34.5,4,100.0,104.469388,2320,15.8,81,2,renault 18i
355,33.7,4,107.0,75.000000,2210,14.4,81,3,honda prelude
356,32.4,4,108.0,75.000000,2350,16.8,81,3,toyota corolla
357,32.9,4,119.0,100.000000,2615,14.8,81,3,datsun 200sx
358,31.6,4,120.0,74.000000,2635,18.3,81,3,mazda 626
359,28.1,4,141.0,80.000000,3230,20.4,81,2,peugeot 505s turbo diesel
360,30.7,6,145.0,76.000000,3160,19.6,81,2,volvo diesel
361,25.4,6,168.0,116.000000,2900,12.6,81,3,toyota cressida
362,24.2,6,146.0,120.000000,2930,13.8,81,3,datsun 810 maxima
363,22.4,6,231.0,110.000000,3415,15.8,81,1,buick century
364,26.6,8,350.0,105.000000,3725,19.0,81,1,oldsmobile cutlass ls
365,20.2,6,200.0,88.000000,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85.000000,3465,16.6,81,1,chrysler lebaron salon
367,28.0,4,112.0,88.000000,2605,19.6,82,1,chevrolet cavalier
368,27.0,4,112.0,88.000000,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88.000000,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85.000000,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84.000000,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90.000000,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92.000000,2865,16.4,82,1,ford fairmont futura
374,36.0,4,105.0,74.000000,1980,15.3,82,2,volkswagen rabbit l
375,37.0,4,91.0,68.000000,2025,18.2,82,3,mazda glc custom l
376,31.0,4,91.0,68.000000,1970,17.6,82,3,mazda glc custom
377,38.0,4,105.0,63.000000,2125,14.7,82,1,plymouth horizon miser
378,36.0,4,98.0,70.000000,2125,17.3,82,1,mercury lynx l
379,36.0,4,120.0,88.000000,2160,14.5,82,3,nissan stanza xe
380,36.0,4,107.0,75.000000,2205,14.5,82,3,honda accord
381,34.0,4,108.0,70.000000,2245,16.9,82,3,toyota corolla
382,38.0,4,91.0,67.000000,1965,15.0,82,3,honda civic
383,32.0,4,91.0,67.000000,1965,15.7,82,3,honda civic (auto)
384,38.0,4,91.0,67.000000,1995,16.2,82,3,datsun 310 gx
385,25.0,6,181.0,110.000000,2945,16.4,82,1,buick century limited
386,38.0,6,262.0,85.000000,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
387,26.0,4,156.0,92.000000,2585,14.5,82,1,chrysler lebaron medallion
388,22.0,6,232.0,112.000000,2835,14.7,82,1,ford granada l
389,32.0,4,144.0,96.000000,2665,13.9,82,3,toyota celica gt
390,36.0,4,135.0,84.000000,2370,13.0,82,1,dodge charger 2.2
391,27.0,4,151.0,90.000000,2950,17.3,82,1,chevrolet camaro
392,27.0,4,140.0,86.000000,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.000000,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84.000000,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.000000,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82.000000,2720,19.4,82,1,chevy s-10

In [20]:
idx_80

0      False
1      False
2      False
3      False
4      False
       ...
392     True
393     True
394     True
395     True
396     True
Name: year, Length: 397, dtype: bool

In [21]:
# 使用set_index()

Auto_re = Auto.set_index('name')
Auto_re

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,1
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1

In [22]:
rows = ['amc rebel sst', 'ford torino']
Auto_re.loc[rows]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,1

In [23]:
#iloc = index loc
Auto_re.iloc[[3,4],[0,2,3]]

                mpg  displacement  horsepower
name
amc rebel sst  16.0         304.0       150.0
ford torino    17.0         302.0       140.0

In [25]:
idx_80 = Auto_re['year'] > 80
Auto_re.loc[idx_80,['weight','origin']]

                                   weight  origin
name
plymouth reliant                     2490       1
buick skylark                        2635       1
dodge aries wagon (sw)               2620       1
chevrolet citation                   2725       1
plymouth reliant                     2385       1
toyota starlet                       1755       3
plymouth champ                       1875       1
honda civic 1300                     1760       3
subaru                               2065       3
datsun 210 mpg                       1975       3
toyota tercel                        2050       3
mazda glc 4                          1985       3
plymouth horizon 4                   2215       1
ford escort 4w                       2045       1
ford escort 2h                       2380       1
volkswagen jetta                     2190       2
renault 18i                          2320       2
honda prelude                        2210       3
toyota corolla                       2350       3
datsun 200sx                         2615       3
mazda 626                            2635       3
peugeot 505s turbo diesel            3230       2
volvo diesel                         3160       2
toyota cressida                      2900       3
datsun 810 maxima                    2930       3
buick century                        3415       1
oldsmobile cutlass ls                3725       1
ford granada gl                      3060       1
chrysler lebaron salon               3465       1
chevrolet cavalier                   2605       1
chevrolet cavalier wagon             2640       1
chevrolet cavalier 2-door            2395       1
pontiac j2000 se hatchback           2575       1
dodge aries se                       2525       1
pontiac phoenix                      2735       1
ford fairmont futura                 2865       1
volkswagen rabbit l                  1980       2
mazda glc custom l                   2025       3
mazda glc custom                     1970       3
plymouth horizon miser               2125       1
mercury lynx l                       2125       1
nissan stanza xe                     2160       3
honda accord                         2205       3
toyota corolla                       2245       3
honda civic                          1965       3
honda civic (auto)                   1965       3
datsun 310 gx                        1995       3
buick century limited                2945       1
oldsmobile cutlass ciera (diesel)    3015       1
chrysler lebaron medallion           2585       1
ford granada l                       2835       1
toyota celica gt                     2665       3
dodge charger 2.2                    2370       1
chevrolet camaro                     2950       1
ford mustang gl                      2790       1
vw pickup                            2130       2
dodge rampage                        2295       1
ford ranger                          2625       1
chevy s-10                           2720       1

In [27]:
# 使用匿名函数 lamba

Auto_re.loc[lambda df: df['year'] > 80, ['weight','origin']]

                                   weight  origin
name
plymouth reliant                     2490       1
buick skylark                        2635       1
dodge aries wagon (sw)               2620       1
chevrolet citation                   2725       1
plymouth reliant                     2385       1
toyota starlet                       1755       3
plymouth champ                       1875       1
honda civic 1300                     1760       3
subaru                               2065       3
datsun 210 mpg                       1975       3
toyota tercel                        2050       3
mazda glc 4                          1985       3
plymouth horizon 4                   2215       1
ford escort 4w                       2045       1
ford escort 2h                       2380       1
volkswagen jetta                     2190       2
renault 18i                          2320       2
honda prelude                        2210       3
toyota corolla                       2350       3
datsun 200sx                         2615       3
mazda 626                            2635       3
peugeot 505s turbo diesel            3230       2
volvo diesel                         3160       2
toyota cressida                      2900       3
datsun 810 maxima                    2930       3
buick century                        3415       1
oldsmobile cutlass ls                3725       1
ford granada gl                      3060       1
chrysler lebaron salon               3465       1
chevrolet cavalier                   2605       1
chevrolet cavalier wagon             2640       1
chevrolet cavalier 2-door            2395       1
pontiac j2000 se hatchback           2575       1
dodge aries se                       2525       1
pontiac phoenix                      2735       1
ford fairmont futura                 2865       1
volkswagen rabbit l                  1980       2
mazda glc custom l                   2025       3
mazda glc custom                     1970       3
plymouth horizon miser               2125       1
mercury lynx l                       2125       1
nissan stanza xe                     2160       3
honda accord                         2205       3
toyota corolla                       2245       3
honda civic                          1965       3
honda civic (auto)                   1965       3
datsun 310 gx                        1995       3
buick century limited                2945       1
oldsmobile cutlass ciera (diesel)    3015       1
chrysler lebaron medallion           2585       1
ford granada l                       2835       1
toyota celica gt                     2665       3
dodge charger 2.2                    2370       1
chevrolet camaro                     2950       1
ford mustang gl                      2790       1
vw pickup                            2130       2
dodge rampage                        2295       1
ford ranger                          2625       1
chevy s-10                           2720       1

In [28]:
Auto_re.loc[lambda df:(df['year'] < 300) & (df.index.str.contains('ford') | df.index.str.contains('datsun')),['weight','origin']]

                      weight  origin
name
ford torino             3449       1
ford galaxie 500        4341       1
ford maverick           2587       1
datsun pl510            2130       3
ford f250               4615       1
...                      ...     ...
ford fairmont futura    2865       1
datsun 310 gx           1995       3
ford granada l          2835       1
ford mustang gl         2790       1
ford ranger             2625       1

[74 rows x 2 columns]